*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 16px;
}
.hiden{
	overflow: hidden;
}
.r_left{
	padding-left: 0px;
}
.r_right{
	padding-right: 0px;
}
header{
	margin: 0;
	padding: 0;
	width: 100%;
	background: url("../img/header_img.jpg") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}
header:after{
	content: '';
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .2);
}
.top_line{
	width: 100%;
	height: 88px;
	background-color: rgba(255, 255, 255, .3);
	z-index: 20;
	position: relative;
}
.logo_txt{
	font-family: "Bringin";
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 88px;
	text-transform: capitalize;
	color: #A6B3BA;
	font-size: 29px;
	display: inline-block;
}
.logo_txt b{
	font-weight: normal;
	color: #6FC4EF;
}
.top_mnu{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.top_mnu li{
	margin: 0;
	padding: 0;
	display: inline-block;
	text-transform: uppercase;
	line-height: 88px;
	font-size: 12px;
	font-family: "OpenSans-Bold";
	margin-right: 20px;
}
.top_mnu li a{
	display: block;
	margin: 0;
	padding: 0;
	color: #9daeb6;
	position: relative;
	outline: none;
}
.top_mnu li a:after{
	content: '';
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 28px;
	height: 3px;
	background-color: #36AEEA;
	opacity: 0;
	transition: opacity .2s ease-in-out;
}
.top_mnu li .active:after{
	opacity: 1;
}
.top_mnu li:hover a:after{
	opacity: 1;
}
.top_mnu li:last-child{
	margin-right: 0;
}
.btn_wr{
	margin: 0;
	padding: 0;
	text-align: right;
	line-height: 88px;
}
.call_us{
	display: inline-block;
	width: 155px;
	height: 48px;
	background-color: transparent;
	border: 3px solid #36AEEA;
	border-radius: 3px;
	font-family: "Releway-Bold";
	line-height: 44px;
	text-align: center;
	color: #3FB1EA;
	font-size: 12px;
	text-transform: uppercase;
	position: relative;
	transition: background .4s ease-in-out;
}
.call_us:hover{
	background-color: rgba(255, 255, 255, 1);
}
.center_h_wr{
	margin: 0;
	padding: 0;
	border: 3px solid #FFF;
	border-top: none;
	width: 100%;
	height: 325px;
	margin-top: 148px;
	margin-bottom: 150px;
	position: relative;
	z-index: 0;
	padding-top: 60px;
	padding-left: 35px;
	font-family: "OpenSans-Bold";
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
}
.center_h_wr:before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right,rgba(255,255,255,1) 66%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 84.5%,rgba(255,255,255,1) 81%);
	top: 0px;
	left: 0;
	right: 0;
	z-index: 100;
}
.center_h_wr h1{
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 0px;
	letter-spacing: 6px;
	word-spacing: 2px;
}
.center_h_wr h1 .t_t_mnt{
	display: block;
	margin: 0;
	padding: 0;
	font-family: "Bringin";
	font-size: 70px;
	color: #56C7Ff;
	text-transform: none;
	margin-top: 37px;
	letter-spacing: 0px;
	word-spacing: -2px;
}
.center_h_wr .descr_top{
	font-family: "OpenSans-Regular";
	font-size: 18px;
	text-transform: none;
	color: #D6DBDE;
	margin: 0;
	padding: 0;
	padding-right: 660px;
	margin-top: 41px;
}
.center_h_wr .order_btn{
	display: block;
	width: 255px;
	height: 65px;
	background-color: #36AEEA;
	border-radius: 5px;
	color: #fff;
	font-family: "Releway-Bold";
	font-size: 14px;
	text-align: center;
	line-height: 65px;
	letter-spacing: 3px;
	margin-top: 25px;
	transition: all .2s ease-in-out;
}
.center_h_wr .order_btn:hover{
	background-color: transparent;
	border: 3px solid #36AEEA;
}
.about{
	width: 100%;
	position: relative;
	background: #f6f4f4;
}
.about:after{
	content: '';
	display: block;
	width: 1057px;
	height: 528px;
	position: absolute;
	top: 22px;
	left: 148px;
	right: 0;
	background: #f6f4f4 url(../img/about_bg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right top;
	z-index: 3;
}
.about_txt_box{
	margin: 0;
	padding: 0;
	margin-top: 205px;
	margin-left: 3px;
	position: relative;
	z-index: 5;
}
.wave{
	margin: 0;
	padding: 0;
	width: 83px;
	height: 6px;
	background: url(../img/waves.png) no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	background-size: cover;
}
.about_txt_box h3,
.contact h3{
	font-family: "OpenSans-Bold";
	font-size: 20px;
	color: #2c2e37;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	margin-top: 38px;
}
.about_txt_box p,
.contact p{
	margin: 0;
	padding: 0;
	font-family: "OpenSans-Regular";
	font-size: 14px;
	color: #9B9A9A;
}
.about_txt_box .read_more{
	display: block;
	width: 132px;
	height: 40px;
	background-color: #36AEEA;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
	font-family: "OpenSans-Bold";
	font-size: 12px;
	margin: 0;
	padding: 0;
	margin-top: 30px;
	transition: all .2s ease-in-out;
}
.about_txt_box .read_more:hover{
	background-color: transparent;
	border: 3px solid #36AEEA;
	color: #36AEEA;
}
.about_img_box{
	max-width: 585px;
	max-height: 570px;
	float: right;
	margin-top: -35px;
	position: relative;
	z-index: 5;
	margin-bottom: 142px;
}
.about_img_box img{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.second_img_box{
	margin: 0;
	padding: 0;
	max-height: 350px;
	max-width: 350px;
	position: absolute;
	top: 312px;
	left: -94px;
	right: 0;
}
.journal{
	margin: 0;
	padding: 0;
	padding-top: 70px;
	padding-bottom: 90px;
}
.journal .wave{
	margin: 0 auto;
}
.journal h2,
.how_work h2,
.trawel_wr h2,
.gallery h2{
	font-family: "OpenSans-Bold";
	font-size: 30px;
	color: #2c2e37;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 70px;
}
.journal_wr{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 0 21px rgba(6,6,6,.13);
	-moz-box-shadow: 0 0 21px rgba(6,6,6,.13);
	box-shadow: 0 0 21px rgba(6,6,6,.13);
}
/*horizontal item*/
.item_hor{
	display: block;
	margin: 0;
	padding: 0;
	width: 66.6666666%;
	height: 50%;
	float: left;
}
.item_hor .img_box_love,
.item_hor .img_box_tree{
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}
.item_hor .img_box_love:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: url(../img/heart.png) no-repeat;
	background-position: center, center;
	z-index: 200;
}
.item_hor .img_box_love:after{
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	top: 50px;
	right: 0px;
	border: 20px solid transparent;	
	border-right: 20px solid #fff;
}
.item_hor .img_box_tree:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: url(../img/tree_ico.png) no-repeat, 
	rgba(255,255,255,.2);
	background-position: center, center;
	z-index: 200;
}
.item_hor .img_box_tree:before{
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	top: 50px;
	left: 0px;
	right: 0;
	border: 20px solid transparent;	
	border-left: 20px solid #fff;
}
.item_hor .text{
	float: left;
	color: #212121;
	text-align: center;
	width: 50%;
	padding: 47px 0px 40px;
	position: relative;
}
.item_hor .text .title{
	display: block;
	font-family: "OpenSans-Bold";
	font-size: 11px;
	color: #16b5ef;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.item_hor .text h2{
	font-family: "OpenSans-Bold";
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	padding: 0px 63px;
}
.item_hor .text p{
	font-family: "OpenSans-Regular";
	font-size: 14px;
	color: #777;
	margin-bottom: 36px;
	padding: 0px 55px;
}
.item_hor .text .no{
	display: block;
	font-family: "Times New Roman";
	font-size: 14px;
	color: #212121;
}
/**********************************/
/*vertical item*/
.item_vert{
	display: block;
	margin: 0;
	padding: 0;
	width: 33.3333333%;
	height: 100%;
	float: right;
}
.item_vert .img_box_water{
	width: 100%;
	position: relative;
}
.item_vert .img_box_water:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: url(../img/water_ico.png) no-repeat;
	background-position: center, center;
	z-index: 200;
}
.item_vert .text{
	color: #212121;
	text-align: center;
	width: 100%;
	padding: 47px 0px 40px;
	position: relative;
}
.item_vert .text:before{
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	top: -40px;
	left: 49px;
	right: 0;
	border: 20px solid transparent;	
	border-bottom: 20px solid #fff;
}
.item_vert .text .title{
	display: block;
	font-family: "OpenSans-Bold";
	font-size: 11px;
	color: #16b5ef;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.item_vert .text h2{
	font-family: "OpenSans-Bold";
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	padding: 0px 63px;
}
.item_vert .text p{
	font-family: "OpenSans-Regular";
	font-size: 14px;
	color: #777;
	margin-bottom: 36px;
	padding: 0px 55px;
}
.item_vert .text .no{
	display: block;
	font-family: "Times New Roman";
	font-size: 14px;
	color: #212121;
}

/************************************/
.item_vert img,
.item_hor img{
	display: block;
	width: 100%;
}
/***********************************/
.contact{
	background: url(../img/blog_bg.jpg) no-repeat;
	background-position:  center center;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 145px;
	padding-bottom: 240px;
}
.contact form{
	background-color: #fff;
	border: 4px solid #fff;
	border-radius: 5px;
	margin-bottom: 22px;
	margin-top: 30px;
}
.contact input[type="text"]{
	height: 35px;
	width: 35.2941176%;
	margin: 0;
	margin-right: -4px;
	border: none;
	border-right: 1px solid #EBEBEB;
}
.contact input[type="submit"]{
	height: 56px;
	width: 29.4117647%;
	margin: 0;
	margin-right: -5px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #36aeea;
	color: #fff;
	font-family: "OpenSans-Bold";
	font-size: 16px;
	outline: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}
.contact input[type="submit"]:hover{
	background: transparent;
	color: #36aeea;
	border: 3px solid #36aeea;
}
.lock_txt{
	display: block;
	font-family: "OpenSans-Regular";
	font-size: 14px;
	color: #36aeea;
	background: url(../img/lock.png) no-repeat;
	background-position: left center;
	padding-left: 20px;
}
/*****************************/
/*section wanna*/
.how_work{
	padding: 70px 0px 100px 0px;
}
.how_work .wave,
.trawel_wr .wave,
.gallery .wave{
	margin: 0 auto;
}
.item_box{
	margin: 0;
	padding: 0;
}
.n_it_box{
	width: 50px;
	height: 50px;
	border: 3px solid #36AEEA;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	display: table;
	position: relative;
}
.n_it_box_four{
	width: 50px;
	height: 50px;
	border: 3px solid #36AEEA;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	display: table;
	position: relative;
}
.n_it_box:after,
.n_it_box_four:after{
	content: '';
	display: block;
	height: 60px;
	width: 2px;
	position: absolute;
	left: 21px;
	right: 0;
	top: 47px;
	background: url(../img/line.png) repeat-y;
	background-position: center;
}
.n_it_box:before{
	content: '';
	display: block;
	height: 2px;
	width: 247px;
	position: absolute;
	left: 47px;
	right: 0;
	top: 20px;
	background: url(../img/line_hor.png) repeat-x;
	background-position: center;
}
.wr_nom{
	display: table-cell;
	vertical-align: middle;
}
.wr_item_descr{
	margin: 60px auto 0;
	width: 180px;
	height: 180px;
	background-color: #F0F3F6;
	border-radius: 50%;
	padding: 30px;
	position: relative;
}
.wr_item_descr .doc_it,
.wr_item_descr .check_it,
.wr_item_descr .book_it,
.wr_item_descr .peopl_it{
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 10;
}
.wr_item_descr .doc_it{
	background: url(../img/doc.png) no-repeat;
	background-position: center, center;
}
.wr_item_descr .peopl_it{
	background: url(../img/peopl.png) no-repeat;
	background-position: center, center;
}
.wr_item_descr .book_it{
	background: url(../img/book.png) no-repeat;
	background-position: center, center;
}
.wr_item_descr .check_it{
	background: url(../img/check.png) no-repeat;
	background-position: center, center;
}
.hex{
	width: 105px;
	height: 64px;
	position: relative;
	background: #fff url(../img/doc.png) no-repeat;
	background-position: center center;
	border-radius: 8px;
	z-index: 9;
	margin: 30px auto;
	border-bottom-left-radius: 8px;
}
.hex .c1{
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 8px;
	z-index: 3;
	-webkit-transform: rotate(60deg); /* Chrome y Safari */
	-moz-transform: rotate(60deg); /* Firefox */
}
.hex .c2{
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 8px;
	z-index: 3;
	-webkit-transform: rotate(-60deg); /* Chrome y Safari */
	-moz-transform: rotate(60deg); /* Firefox */
}
.item_box h4{
	text-align: center;
	font-family: "RobotoBold";
	font-size: 18px;
	margin-top: 28px;
}
.item_box p{
	text-align: center;
	font-family: "RobotoLight";
	font-size: 16px;
	padding: 0px 17px;
}
/********************/
.trawel_wr{
	margin: 0;
	padding: 0;
	padding-bottom: 478px;
	background:	url(../img/world_bg.png) no-repeat center bottom;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
.trawel_wr:after{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 70%;
	top: 25px;
	left: 0;
	right: 0;
	background:	url(../img/worldmap-dots.png) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 0;
}
.trawel_wr .tr_item_wr{
	margin: 0;
	padding: 0;
	width: 17%;
	margin-right: 43px;
	float: left;
	position: relative;
	z-index: 4;
	overflow: hidden;
	border-radius: 5px;
}
.trawel_wr .tr_item_wr img{
	display: block;
	width: 100%;
}
.trawel_wr .tr_item_wr.r_mr_r{
	margin-right: 0;
}
.tr_item_wr .salle_box{
	position: absolute;
	width: 100%;
	height: 16.2303665%;
	background-color: rgba(0, 0, 0, .2);
	z-index: 8;
	left: 0;
	right: 0;
	bottom: 0;
}
.gallery{
	padding: 70px 0px 60px 0px;
}
.container_gallery{
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 653px;
	max-height: 658px;
	overflow: hidden;
}
.g_img_box{
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	overflow: hidden;
}
.g_img_box img{
	width: 100%;
 	height: 100%;
 	display: block;
}
